<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
	bootstrap="tests/bootstrap-unit.php"
	colors="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	beStrictAboutOutputDuringTests="true"
	convertDeprecationsToExceptions="true"
	failOnWarning="true"
	failOnRisky="true"
	cacheResultFile="build/.phpunit.unit.cache"
>
	<testsuites>
		<testsuite name="unit">
			<directory suffix="Test.php">./tests/Unit</directory>
		</testsuite>
	</testsuites>

	<coverage processUncoveredFiles="true">
		<include>
			<directory suffix=".php">./src/Domain</directory>
			<directory suffix=".php">./src/Support</directory>
		</include>
		<report>
			<clover outputFile="build/logs/clover-unit.xml"/>
			<text outputFile="php://stdout" showUncoveredFiles="false"/>
		</report>
	</coverage>

	<php>
		<const name="TCB_RUNNING_UNIT_TESTS" value="true"/>
	</php>
</phpunit>
